name: Build EXE US

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Build with PyInstaller
      run: |
        pyinstaller --onefile --noconsole --name "TwisterOverlayPOE2_US" poe_checklist_us.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: TwisterOverlayPOE2_US
        path: dist/TwisterOverlayPOE2_US.exe
